PORT=7710
HOST=127.0.0.1
KEYDO_ALLOWED_HOSTS=
TODOIST_ACCESS_TOKEN=
TODOIST_API_BASE=https://api.todoist.com
TODOIST_CLIENT_ID=
TODOIST_CLIENT_SECRET=
TODOIST_REDIRECT_URI=http://127.0.0.1:7710/api/todoist/oauth/callback
TODOIST_SCOPES=data:read_write,data:delete
